<div class="pl-profile-row">
    <div class="pl-profile-row__head">
        <label for="{{ field.id_for_label }}" class="pl-profile-row__label">{{ label }}</label>
        {% include "hub/partials/_directory_visibility_toggle.html" with key=key %}
    </div>
    <div @input="fields.{{ key }} = $event.target.value" @change="fields.{{ key }} = $event.target.value">
        {{ field }}
    </div>
    {% if field.help_text %}<span class="hub-field-hint">{{ field.help_text }}</span>{% endif %}
    {% for error in field.errors %}<span class="hub-field-error">{{ error }}</span>{% endfor %}
</div>
